* {
  padding: 0;
  margin: 0;
}

:root {
  --fg-color: #24292e;
  --link-color: #005faf;
}

body {
  max-width: 960px;
  margin: 40px auto;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: var(--fg-color);
}

a:link,
a:visited,
a:active {
  color: var(--link-color);
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  line-height:1.2
  color: var(--fg-color);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

header h1 {
  font-size: 3.5em;
}

header h1 a:link,
header h1 a:visited,
header h1 a:active {
  color: var(--fg-color);
}

article h1, h2, h3, h4, h5{
  margin: 0.5em 0 0.2em 0;
  font-weight: 500;
}

article h1 {
  font-size: 2.0em;
}

article {
  margin: 1em 0 5em 0;
  text-align: justify;
}

article p {
  padding: 0.5em 0em;
}

article ol,
article ul{
  margin: 0.5em 0 0.5em 2em;
}

header {
  margin-bottom: 2em;
}

nav ul li {
  display: inline;
}

.nav-right {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
}

.nav-right ul li {
  margin-left: 1em;
}

.recent ul {
  list-style: none;
}

.posts ul {
  list-style: none;
}

footer {
  margin: 2em 0;
}

footer ul li {
  margin: 0 1em 0 0;
}
