<footer>
  <nav class="social">
    <ul>
      <li>
        <a href={{ .Site.Params.mail }}>
          <img src={{ "svg/mail.svg" | absURL }} alt="mail"/>
        </a>
      </li>
      <li>
        <a href={{ .Site.Params.github }}>
          <img src={{ "svg/github.svg" | absURL }} alt="github"/>
        </a>
      </li>
      <li>
        <a href={{ .Site.Params.instagram }}>
          <img src={{ "svg/instagram.svg" | absURL }} alt="instagram"/>
        </a>
      </li>
      <li>
        <a href={{ .Site.Params.twitter }}>
          <img src={{ "svg/twitter.svg" | absURL }} alt="twitter"/>
        </a>
      </li>
    </ul>
  </nav>
  {{ .Site.Params.copyright }}
</footer>
</body>
</html>
