<header>
  <div id="titlebar">
    <div id="title">
      <h1><a href={{ .Site.BaseURL }}><img src={{ "svg/logo.svg" | absURL }} alt="logo"/></a></h1>
      <h2>{{ .Site.Params.subtitle }}</h2>
    </div>
  </div>
  <nav>
    <ul class="nav-main">
      <li><a href="{{ .Site.BaseURL }}">Home</a></li>
      <li><a href="/post">Blog</a></li>
      {{ range first 10 .Site.RegularPages }}
      {{ if eq .Type "page" }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
    <ul class="social">
      <li>
        <a href={{ .Site.Params.github }}>
          <img src={{ "svg/github.svg" | absURL }} alt="github"/>
        </a>
      </li>
      <li>
        <a href={{ .Site.Params.twitter }}>
          <img src={{ "svg/twitter.svg" | absURL }} alt="twitter"/>
        </a>
      </li>
      <li>
        <a href= {{.Site.RSSLink }}>
          <img src={{ "svg/rss.svg" | absURL }} alt="rss"/>
        </a>
      </li>
    </ul>
  </nav>
</header>
